/* GENERAL */

body
{
    display: flex;
    background-image: url(image_index/background.jpg);
    background-repeat: no-repeat;
}



/*body*/

.container
{
    width: 735px;
    height: 926px;
    margin-top: 0.5%;
    text-align: center;
    background-image: url(image_index/container.jpg);
    background-size: cover;
    color: black;
    opacity: 0.93;
    border: 1px solid;
    margin-right: 32px;
}

.container h2
{
    font-size: 35px;
}


.sousContainer
{
    width: 725px;
    height: 827px;
    margin: auto;
    overflow: auto;
}

.etiquette
{
    width: 705px;
    height: 169px;
    display: flex;
    margin-bottom: 10px;
    border: 1px solid #696969;
}

.etiquette h3
{
    font-size: 20px;
}

.etiquette p
{
    font-size: 1.015em;;    
}

.containerImage
{
    width: 223px;
    height: 168px;
    border-right: 1px solid #696969;
}

.image
{
    width: 178px;
    height: 100px;
    margin-top: 2em;
}

.containerDescription
{
    width: 480px;
    height: 168px;
}

.titreDescription
{
    width: 480px;
    height: 34px;
    border-bottom: 1px solid #696969;
}

.description
{
    width: 440px;
    height: 72px;
    margin: auto;
    margin-bottom: 11px;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;


}

.button
{
    float: right;
    width: 126px;
    height: 25px;
    margin-right: 1em;
}



/* nav */

nav
{
    width: 318px;
    height: 267px;
    margin-left: 43px;
    margin-right: 16px;
    margin-top: 110px;
}

nav a
{
    color:black;
    text-decoration: none;
}

nav a:hover
{
    color: darkorchid;
}

.menu
{
    width: 317px;
    height: 51px;
    padding-top: 18px;
    font-size: 30px;
    border: 1px solid;
    text-align: center;
    background-image: url(image_index/container.jpg);
    background-size: cover;
    opacity: 0.93;
    color: #696969;
}


